:root {
    --color-black: #000;
    --color-trans: transparent;
    --color-light: #f8f9fa;
    --Montserrat:'Montserrat', sans-serif;
    --Josefin_Sans:'Josefin Sans', sans-serif;
    --color-light-gray:#ebebeb;
  }